<?xml version="1.0"?>
<settings>
	<machine>
		<server_ip>backup.fncit.no</server_ip>
		<machine_id>2010</machine_id>
		<username>fredrik</username>
		<password>passord</password>
		<force_action>1</force_action>
		<local_temp_folder>/Users/fnc/temp</local_temp_folder>
		<os_system>windows xp</os_system>
		<mysql_dump>mysqldump5</mysql_dump>
	</machine>
</settings>